@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Gajraj+One&family=Vast+Shadow&family=Londrina+Shadow&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Rampart+One&family=Wendy+One&display=swap');

.ac-container {
    max-width: 70%;
    margin: 0 auto;
    height: auto;
}

.preview-container {
    position: relative;
    width: 100%;
    background: #f5f5f5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-image: url(https://omgs.in/wp-content/uploads/2021/02/wall-c.jpg);
}

.size-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.size-btn {
    padding: 8px 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 15%;
    height: 5%;
    display: inline-block;

}

.shape-btn.hidden {
    display: none;
}

.size-btn:hover {
    background-color: #f0f0f0;
}

.image-container {
    width: 400px;
    height: 400px;
    position: relative;
    aspect-ratio: 12/9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    overflow: hidden;
    backdrop-filter: blur(5px);
    background: transparent;
    z-index: 0;
    background: #000;
    margin-top: 1rem;
}

.preview-image {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.image-container.default::before {
    content: '\f03e';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 36px;
    color: #bbb;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.shape-options {
    margin-top: 2%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.controls {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

.upload-btn {
    background: #FF5722;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.share{
    /* display: none; */
}

.add-to-cart {
    /* display: none; */
}


#fileInput {
    display: none;
}

.size-indicator {
    position: absolute;
    background: black;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;
}

.width-indicator {
    top: 7px;
    left: 40%;
    transform: translateX(-50%);
}

.height-indicator {
    left: -30px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

/* ===================shape================ */
.shape-btn {
    width: 30px;
    height: 25px;
    background: #C1995D;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px #808080;
}

.shape-btn.circle {
    border-radius: 50%;
    height: 30px;
}

.shape-btn.square {
    border-radius: 5%;
}

.shape-btn.custom2 {
    border-radius: 80% 30% 30% 80% / 80% 80% 30% 30%;
}

.shape-btn.custom3 {
    border-radius: 50% 50% 0 0 / 50% 50% 0 0;
}

.shape-btn.custom4 {
    border-radius: 40% 0 40% 0;
}

.circle-shape {
    border-radius: 50%;
    /* width: 400px;
    height: 400px; */
}

.square-shape {
    height: 400px;
    width: 400px;
    border-radius: 5%;
}

.custom2-shape {
    border-radius: 80% 30% 30% 80% / 80% 80% 30% 30%;
    height: 400px;
    width: 400px;
}

.custom3-shape {
    border-radius: 50% 50% 0 0 / 50% 50% 0 0;
    height: 400px;
    width: 400px;
}

.custom4-shape {
    border-radius: 35% 0 35% 0;
    height: 400px;
    width: 350px;
}

.shape-btn.active {
    outline: 2px solid #000787;
}

.size-btn.active {
    background-color: #000787;
    font-weight: bold;
    color: #f0f0f0;
}

#addTextBtn {
    background: #2F4858;
    font-size: 20px;
    border: 1px solid #f0f0f0;
}

#addTextBtn:hover {
    background: #f0f0f0;
    font-size: 20px;
    color: #2F4858;
    border: 1px solid #2F4858;
}

.text-box {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #000;
    padding: 5px;
    cursor: move;
    z-index: 1;
}

.resize-handle {
    width: 20px;
    height: 20px;
    text-align: center;
    display: none;
    font-weight: bold;
    background: transparent;
    color: #5cb3fa;
}

.rotate-handle {
    background-color: transparent;
    color: #5cb3fa;
    font-size: 24px;
    display: none;
}

/* Styles for the Analog Clock */
.analog-clock {
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
}

/* Clock Numbers */
.clock-number {
    position: absolute;
    font-size: 1.7rem;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-weight: bold;
    color: white;
    font-family: "Audiowide", serif;
    transform-origin: center;
    transition: all 0.3s ease;
}

/* Clock Hands */
.clock-hand {
    position: absolute;
    bottom: 50%;
    left: 49.5%;
    transform-origin: bottom;
    background: #000;
    transition: transform 0.1s cubic-bezier(0.4, 2.08, 0.55, 0.44);
    z-index: 3;
}

.hour-hand {
    width: 6px;
    height: 30%;
    background: linear-gradient(135deg, #fff, #333);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.minute-hand {
    width: 4px;
    height: 40%;    
    background: linear-gradient(135deg, #fff, #333);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    z-index: 3
}

.second-hand {
    width: 2px;
    height: 45%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.clock-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, #CDA26F, #745C3E);
    z-index: 4;
    transform: translate(-50%, -50%);
}

.preview-clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
}

.preview-clock-number {
    position: absolute;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-weight: bold;
    color: #f0f0f0;
    transform-origin: center;
    transition: all 0.3s ease;
}

.style-clock {
    width: 35%;
    height: 130px;
    position: relative;
    background: #888;
}

.clock-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    align-items: center;
    position: relative;
}

.style-clock.small:nth-child(1) .preview-clock-face .preview-clock-number {
    color: white;
    font-family: "Audiowide", serif;
    font-weight: bold;
}

.style-clock.small:nth-child(2) .preview-clock-face .preview-clock-number {
    color: white;
    font-family: "Vast Shadow", serif;
    font-weight: bold;
}

.style-clock.small:nth-child(3) .preview-clock-face .preview-clock-number {
    color: black;
    font-family: "Vast Shadow", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.style-clock.small:nth-child(4) .preview-clock-face .preview-clock-number {
    color: black;
    font-family: 'Oswald', serif;
    font-weight: bold;
}

.style-clock.small:nth-child(5) .preview-clock-face .preview-clock-number {
    color: white;
    font-family: 'Arial', sans-serif;
}

.style-clock.small:nth-child(6) .preview-clock-face .preview-clock-number {
    color: white;
    font-family: 'Wendy One', sans-serif;
}

.style-clock.active {
    border: 2px dashed #000;
    transform: scale(1);
}