@import url('https://fonts.googleapis.com/css2?family=Dancing+Script?family=Poppins&family=Boldonse&family=Anton&family=Lilita+One&family=Russo+One&family=Cabin&family=DM+Serif+Display&family=Orbitron:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  user-select: none;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.btn {
  background: #048e1d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  min-width: max-content;
  height: 50px;
}

.btn:hover {
  background: #047b1a;
  color: #f0f0f0;
}

.btn2 {
  background: #000787;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

.btn2:hover {
  background: #000668;
  color: #f0f0f0;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}


/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */